.navbar {
  background-color: transparent; /* Ensure the navbar is transparent */
  padding: 20px 5vw; /* Add padding for spacing */
}

.navbar a {
  text-decoration: none; /* Remove underline from links */
}

.navbar a:hover {
  transform: scale(1.1); /* Slightly grow on hover */
  color: #3b3a30; /* Change color on hover */
  cursor: pointer; /* Add pointer cursor */
}
